.row
  - @user.carousels.in_groups_of(4).each do |carousel_group|
    - carousel_group.each do |carousel|
      - next unless carousel && carousel.carousel_images.first

      .col-md-3
        %h6.text-center= carousel.name
        = link_to public_carousel_path(carousel) do
          = image_tag(carousel.carousel_images.first.img_upload.attachment, class: 'img-fluid mx-auto d-block')
