%h1 My Carousels
= button_to 'New Carousel', new_carousel_path, class: 'btn btn-default btn-primary', method: :get
%hr

.card-deck
  - @carousels.each do |carousel|
    .card
      -# %img.card-img-top{ src: carousel.carousel_images.first.img_upload, alt: carousel.carousel_images.first.alt }
      .card-header= carousel.name
      .card-body
        = button_to carousel.name, carousel, class: 'btn btn-default btn-primary', method: :get
