.row
  .col-md-4.mx-auto
    %h5.text-center
      = @carousel.name
      = link_to content_tag(:i, '', class: 'fa fa-pencil'),
        edit_carousel_path(@carousel),
        class: 'float-right'

-# %i.fa.fa-chevron-right
-# %i.fa.fa-camera-retro

.row
  .col-md-10.mx-auto
    .card.border-0.box-shadow.p-4
      = react_component("Slider", { images: carousel_image_hashes(@carousel) })
