.row
  .col-md-4
  .col-md-4
    %h5.text-center
      = @carousel.name
      = link_to content_tag(:i, '', class: 'fa fa-pencil'),
        edit_carousel_path(@carousel),
        class: 'float-right'

-# %i.fa.fa-chevron-right
-# %i.fa.fa-camera-retro

.row
  .col-md-4.mx-auto
    .card.border-bootstrap.box-shadow.p-4
      = react_component("Slider", { images: carousel_image_hashes(@carousel) })

  -# - @carousel.carousel_images.each do |carousel_image|
  -#   .d-inline-block{ style: 'height: 100px;' }
  -#     = image_tag(carousel_image.img_upload, class: 'img-thumbnail mh-100')
