.row
  .col-lg-10.mx-auto
    .row
      .col-12
        %h3= @call.name

        .list-group
          - @call_applications.each do |call_application|
            .list-group-item.list-group-item-action.border-left-0.border-right-0.call-application-line-item.p-0
              .row.no-gutters
                .col-auto.mr-auto
                  .artist-details.p-3
                    .d-inline-block.mr-1
                      = image_tag(call_application.user.avatar_url, class: 'img-fluid rounded-circle avatar')
                    %h5.d-inline-block.mb-0.align-middle
                      = link_to call_application.user.full_name, artist_profile_path(user_id: call_application.user.id)

                .col-auto
                  .row.no-gutters.d-inline-block{ style: 'vertical-align: middle;' }
                    - call_application.pieces.with_images.in_groups_of(3).each do |pieces|
                      - pieces.each do |piece|
                        - break unless piece
                        .col-4.m-2.d-inline-block{ style: 'vertical-align: middle;' }
                          = image_tag(piece.piece_images.first.img_upload, class: 'h75 img-thumbnail img-fluid p-0 border-0 rounded-0')

        - if @call_applications.none?
          %p There are no applications for you to view right now.
