- if !@call.external?
  .card.mb-2
    .card-body.p-1
      %p
        %small
          - if !@call.is_approved
            Your call will not appear on the the homepage until it has been approved by an administrator.
            %br

          To share your call with your audience, copy the following link:

      %div{ "data-controller" => "clipboard" }
        .row.no-gutters
          .input-group.col-12
            %input.d-inline-block.mw-100.border.rounded-left.form-control{ readonly: "readonly", type: "text", value: public_call_details_url(@call), "data-target" => "clipboard.source" }
            .input-group-append
              %button.rounded-right.btn.btn-primary.btn-success.p-1.clipboard-button{ "data-action" => "clipboard#copy" }
                .fa.fa-clipboard
