.row
  .col-md-8.mx-auto.text-center
    %h5= link_to @piece_image.piece.user.full_name, artist_profile_path(@piece_image.user, artist_profile_section: 'Work')
    -# %h6= link_to @piece_image.piece.name, public_piece_path(@piece_image.piece)
    %h6= @piece_image.name

    = image_tag rails_blob_url(@piece_image.img_upload), class: 'img-fluid' # TODO: max-height?...

-# TODO: allow editing of details & show them
-# .row
-#   .col-md-8.mx-auto.text-center
-#     .card.fun-card.mt-3
-#       .card-header
-#         #{ @piece_image.name } -
-#         = link_to @piece_image.piece.name, public_piece_path(@piece_image.piece)
-#       .card-body
-#         %p Dummy Work Details
-#         10ft x 10ft, mystery blood and miscellaneous fluids
