.row
  .col-md-4.mx-auto.text-center
    %h5= link_to @piece.user.full_name, artist_profile_path(@piece.user, artist_profile_section: 'Work')
    %h6= @piece.title

-# %i.fa.fa-chevron-right
-# %i.fa.fa-camera-retro

.row
  .col-md-10.mx-auto
    .card.border-0.box-shadow.p-4
      = react_component("Slider", { images: piece_image_hashes(@piece) })
