.row
  .col-md-10.mx-auto
    .row
      .col-11
        %h3 Editing '#{@piece.title}'
      .col-1
        = button_to "Delete",
          piece_path(@piece),
          class: 'btn btn-sm btn-danger pull-right',
          method: :delete,
          data: { confirm: "Are you sure?" }
    %hr
    = render 'form'
