.row
  .col-lg-10.mx-auto
    .card.fun-card.border-bootstrap.box-shadow
      .card-header
        %h1
          = t('new')
          = t('show_application')

      .card-body
        = render 'form'
