.row
  .col-lg-10.mx-auto
    .card
      .card-header
        -# %h5.text-center Application Info
      .card-body
        %p Your application has been submitted!
        = link_to 'Browse Shows', root_path, class: 'btn btn-default btn-primary'
