- img1 = { id: 0, src: image_path('van.jpg'), alt: 'daw' }
- img2 = { id: 0, src: image_path('face.jpg'), alt: 'raw' }
- img3 = { id: 0, src: image_path('bathroom.jpg'), alt: 'raw' }

.mh-50
  = react_component("Slider", { images: [img1, img2, img3] })
