$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~bootstrap/scss/bootstrap';
@import 'variables';
@import 'base';

.fade {
  -webkit-transition-duration: 30s; /* Safari */
  transition-duration: 30s;
}
