%h1 My Galleries
= button_to 'New Gallery', new_gallery_path, class: 'btn btn-default btn-primary', method: :get
%hr

- @galleries.each do |gallery|
  = button_to gallery.name, gallery, class: 'btn btn-default btn-primary', method: :get
