// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "bootstrap_overrides";
@import "homepage";
@import "users";
@import "carousels";
@import "entries";
@import "call_users";
@import "chats";
@import "font-awesome";
@import "loader";
@import "react_date_picker";
@import "stimulus";
@import "trix";
@import 'bootstrap-select';
@import "selectpicker";
@import "select2";
@import "select2-bootstrap";
@import "bootstrap_toggle";
@import "tempusdominus-bootstrap-4";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap'); // TODO: change

// custom trix
trix-toolbar .button_groups {
  button.code {
    display: none;
  }
  button.increase {
    display: none;
  }
  button.decrease {
    display: none;
  }
}

trix-toolbar .trix-button--icon {
  width: 2em;
}

trix-toolbar .trix-button-group--history-tools {
  display: none;
}

.trix-md {
  .trix-content{
    min-height: 173px;
    // overflow-y: auto;
  }
}


// misc

.fade-text {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  // overflow-y: scroll;
}

.c-pointer {
  cursor: pointer;
}

.h25 {
  max-height: 25px;
  max-width: 25px;
}

.h75 {
  max-height: 75px;
  max-width: 75px;
}

.blr-0 {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

// hover dropdown

/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.hover-dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.hover-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.hover-dropdown-content div {
  color: black;
  // padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.hover-dropdown-content div:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.hover-dropdown:hover .hover-dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .hover-dropdown:hover .hover-dropbtn {background-color: #3e8e41;}
