.entry-line-item {
  .artist-details {
    .avatar {
      height: 25px;
      min-width: 25px;
      max-width: 25px;
    }
  }
  .artist-statement {
    .trix-content {
      @extend .fade-text;
      max-height: 80px;
      width: 100%;
    }

    transition: background 0.5s ease-out;
  }
}

.navigator {
  .divider {
    flex-grow: 1;
    border-bottom: 3px solid $primary;
    border-radius: 50px;
    margin: 10px;
  }
  .divider.incomplete {
    border-bottom: 3px solid gray;
  }

  ol {
    @extend .pl-0;
    @extend .d-flex;
    @extend .justify-content-between;
    list-style-type: none;
    align-items: center;

    li {
      text-align: center;
    }

    li.finished {
      @extend .text-primary;
      a { @extend .text-primary; }
    }

    li.current {
      @extend .text-primary;
      a { @extend .text-primary; }
    }

    li.unfinished {
      @extend .text-muted;
      a { @extend .text-muted; }
    }
  }
}

.add-pieces {
  .piece {
    img {
      max-height: 100px;
    }
  }
}

.modal-sortable {
  z-index: 1100;
}
