.gallery {
  .slick-track{
      display: flex;

      .slick-slide{
          display: flex;
          height: auto;
          align-items: center; //optional
          justify-content: center; //optional
          img {
            max-height: 500px;
          }
      }
  }
}

.gallery-images {
  ul {
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
      height: 100px;
      img {
        max-height: 100%;
      }
    }
  }
}
