.search-container {
  min-height: 35px;
}

.call-description {
  .trix-content {
    @extend .fade-text;
    min-height: 30px;
    max-height: 80px;
    width: 100%;
  }

  transition: background 0.5s ease-out;
}
