.profile-avatar {
  height: 150px;
  img {
    max-width: 75px;
    max-height: 150px;
  }
}

@media screen and (max-width: 576px) {
  .profile-avatar {
    height: 100px;
    img {
      max-width: 50px;
      max-height: 100px;
    }
  }

}
