.card.mb-2
  .card-body
    %p
      %small
        - if !@show.is_approved
          Nice! Your Call has been submitted to the Hew team for approval. Once approved, you will be notified and it will appear on the Hew homepage.
          %br

        Even before approval, you can share the following link to your Call and collect artist submissions:

    %div{"data-controller" => "clipboard" }
      .row.no-gutters
        .input-group.col-12
          %input.d-inline-block.mw-100.border.rounded-left.form-control{ readonly: "readonly", type: "text", value: public_show_details_url(@show), "data-target" => "clipboard.source" }
          .input-group-append
            %button.rounded-right.btn.btn-primary.btn-success.p-2.clipboard-button{ "data-action" => "clipboard#copy" }
              .fa.fa-clipboard
