%p
  To share your show with your audience, copy the following link:

  %div{"data-controller" => "clipboard" }
    %input{ readonly: "readonly", type: "text", value: public_show_details_url(@show), "data-target" => "clipboard.source" }
    %button.clipboard-button{ "data-action" => "clipboard#copy" } Copy to Clipboard
